html {
  overflow: hidden; /* prevent scroll (only necessary when camera is disabled) */
}

body {
  margin: 0;
}

#scene {
  position: fixed;
  top: 0;
  left: 0;
  outline: none; /* canvas may have outline when focused */
}
